@model IEnumerable<BloodDonationProject.Models.userInfo>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>AdnModList</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <nav style="background-color:rgb(255, 204, 204); height:35px;font-size:16px;font-weight:bold">
        <span style="margin: 0 30px; display:@(Session["Type"].ToString()  == "Moderator" ? "none": "inline")"> @Html.ActionLink("Add Modaretor", "Create")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("All Reporst", "showReports")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Modaretor List", "AdnModList")</span>
        <a style="margin: 10px 10px" href="/">See FeedBacks</a>
        <a style="margin: 10px 10px" href="/">Other Users Info</a>
        <span style="margin: 10px 10px"> @Html.ActionLink("LogOut", "LogOut")</span>
        @*<a style="margin: 10px 10px" href="@Url.Action("darkMood","Admin")">Dark Mood</a>*@
        @Html.ActionLink("Dark Mood", "darkMood")
    </nav>

    <table>
        <tr>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                Age
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th>
                Promotion
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Email != Session["Email"].ToString()) //Session["Email"].ToString()
            {
                <tr>
                    <td>
                        <img src="~/Content/Images/@item.ProPic" alt="proPic" height="80px" width="80px" style="margin:05px 25px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.DOB.ToString("dd/MM/yyyy"))*@
                        @item.DOB.ToString("dd/MM/yy")
                    </td>
                    <td>
                        @((int.Parse(DateTime.Now.ToString("yyyyMMdd"))- int.Parse(item.DOB.ToString("yyyyMMdd")))/10000 )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.BloodGroup)
                    </td>
                    <td>
                        <a href="@Url.Action("typeChage", "Admin", new { id = item.userID })" style="pointer-events: @(@Session["Type"] == "Admin" ? "" : "none")">
                            @(item.Type == "Admin" ? "Demotion" : "Promotion")
                        </a>
                    </td>
                </tr>
            }
        }

    </table>
</body>
</html>
