@model IEnumerable<BloodDonationProject.Models.userInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RepoterInfo</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>


    <br />
    <h2 style="text-align:center">--All Reports--</h2>
    <br />
    <table class="table" border="1">
        <tr>
            <th>Report</th>
            <th>GotReported</th>
            <th>Repoter</th>
        </tr>

        @foreach (var item in ViewData["Reports"] as IEnumerable<BloodDonationProject.Models.report>)
        {

            <tr>
                <td>@item.Report1</td>
                <td>@item.userInfo.Name </td>
                <td>@item.userInfo1.Name</td>
            </tr>

        }
    </table>
    <br />
    <h2 style="text-align:center">--Donar Info--</h2>
    <br />
    <table class="table" border="1">
        <tr>

            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                DOB
            </th>
            <th>
                Type
            </th>
            <th>
                Doc
            </th>
            <th>
                Pic
            </th>
            <th>
                BloodGroup
            </th>


            <th>
                ChnageStatusTo
            </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Docoment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProPic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodGroup)
                </td>
                <td>
                    <p style="display:@(System.Convert.ToBoolean(Session["userban"])== true ? "block":"none")">@Html.ActionLink("UnBan", "UnBanUser", new { email = item.Email })</p>
                    <p style="display:@(System.Convert.ToBoolean(Session["userban"])== false ? "block":"none")">@Html.ActionLink("Ban", "BanUser", new { id = item.userID })</p>
                   
                </td>
            </tr>
        }

    </table>


   

</body>
</html>
