@model IEnumerable<BloodDonationProject.Models.report>


@section css {
    <link href="~/Content/main.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <title>showReports</title>
</head>
<body>
    <h2>Reports List</h2>
    @using (Html.BeginForm("searchReports", "Admin"))
    {
        <div style="margin:0px 40%">
            <input type="text" id="email" name="email" />
            <input type="submit" value="Search" class="btn btn-default" style="margin:0px 50px" />
            <p style="color:red">@TempData["searchReportsError"]</p>
        </div>
    }
    <table class="table">
        <tr>
            <th>
                Report
            </th>
            <th>
                Donar Name
            </th>
            <th>
                Reporter Name
            </th>
            <th>Acion</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Report1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userInfo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userInfo1.Name)
                </td>
                <td>

                    @Html.ActionLink("Details", "RepoterInfo", new { id = item.DonorId, email = item.userInfo.Email })
                </td>
            </tr>
        }

    </table>
</body>
</html>
